services:
  # Web Service (Backend + Frontend)
  - type: web
    name: woops
    env: node
    region: singapore
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: PORT
        value: 3000
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: memo-app-db
          property: connectionString

databases:
  - name: memo-app-db
    databaseName: memo_app_ay5t
    user: memo_app_user
    region: singapore
    plan: free

